.band-bar
	margin-bottom 1.55rem

	&__title
		font-size 1.77rem
		margin 0
		text-transform uppercase
		padding-bottom 0.75rem
	
	&__bar
		width: 19.2rem
		height: 1.5rem
		background-color _grey
		position relative

		&_blue
			position absolute
			background-color _blue