mixin paragraph(name, date, title)
	.paragraph
		h4.paragraph__name #{name} 
		h4.paragraph__date // #{date}
		h4.paragraph__title #{title}
		p.paragraph__text Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat possimus, atque voluptatem unde corrupti aut est nam a id tempore ipsum quia deserunt minima labore vitae quidem ullam maxime magnam.