mixin paragraph(name, date, title)
	.paragraph
		h4.paragraph__name #{name} 
		h4.paragraph__date // #{date}
		h4.paragraph__title #{title}
		p.paragraph__text Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.