.contacts
	font-size 1.416rem
	.contact
		padding-bottom 2rem
		position relative
		
		&__tag
			display inline
			color _blue
			font-family MyriadProBold, sans-serif
			text-transform uppercase

		&__type
			display inline
			position absolute
			left 8.8rem
		
		&:first-of-type
			margin-top 3rem