.point-bar
	font-size 1.77rem
	text-align center
	margin-bottom 1.13rem

	&__title
		margin 0
		text-transform uppercase
		line-height 1em
		padding-bottom 0.25rem

	&__point
		display inline-block
		width 1.1875rem
		height 1.1875rem
		background-color _grey
		border-radius 50%
		margin-right 0.6875rem
		@media screen and (max-width: 330px)
			margin-right 0.5rem

		&_blue
			background-color _blue