include blocks/header/header
include blocks/profile/profile
include blocks/contacts/contacts
include blocks/skills/skills
include blocks/education/education
include blocks/experience/experience
include blocks/software/software

doctype html
html
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Resume
	body
		.wrapper
			.wrapper__left
				+header('name here', 'surname', 'graphic designer')
				+profile()
				+contacts('Main Street, City.','contact@domain.com','555-555-555','www.yourweb.com')
				+skills(9, 11, 6, 11)
			.wrapper__right
				+education()
				+experience()

