_blue = #3d6cb0

html
	font-family MyriadProLightSemiExt, Verdana, sans-serif

body
	width 100%
	margin 0
	height auto

.wrapper::after
	content ""
	display table
	clear both

.wrapper
	margin 0 auto
	max-width 1366px

	&__left
		float left
		width 35%

	&__right
		width 56%
		float right

.block-title::before
	content ""
	position absolute
	display inline-block
	background-image: url('images/sprite.png')
	width 5.3rem
	height 5.2rem
	background-size: 345%
	left 0.1rem
	top -1rem
	
.education .block-title::before
	background-position: 11.6rem 5.5rem

@import './blocks/profile/profile'
@import './blocks/contact/contact'
@import './blocks/header/header'
@import './blocks/software/software'
@import './blocks/skills/skills'
@import './blocks/education/education'
@import './blocks/experience/experience'
@import './fonts/fonts'