
html
	font-family MyriadProLightSemiExt, Verdana, sans-serif

body
	width 100%
	margin 0
	height auto

.wrapper::after
	content ""
	display table
	clear both

.wrapper
	margin 0 auto
	max-width 1240px

	&__left
		float left
		width 35%
		padding 60px

	&__right
		width 55%
		float right

@import './blocks/profile/profile'
@import './blocks/contact/contact'
@import './blocks/header/header'
@import './blocks/software/software'
@import './blocks/skills/skills'
@import './blocks/education/education'
@import './blocks/experience/experience'
@import './fonts/fonts'