_blue = #3d6cb0
_grey = #e6e6e6

html
	font-family MyriadProRegular, sans-serif
	@media screen and (max-width: 1076px)
			font-size 26px
	@media screen and (max-width: 768px)
			font-size 30px

body
	width 100%
	margin 0

.wrapper::after
	content ""
	display table
	clear both

.wrapper
	margin 0 auto
	max-width 1366px

	&__left
		float left
		width 33.4%
		padding-left 4.18rem
		overflow hidden
		@media screen and (max-width: 1076px)
			width auto
			padding-left 1rem
			padding-right 1rem

	&__right
		width 51.3%
		margin-left 44%
		overflow hidden
		@media screen and (max-width: 1076px)
			width auto
			float left
			margin 0
			padding-left 1rem
			padding-right 1rem

.block-title::before
	content ""
	position absolute
	display inline-block
	background-image: url('images/sprite.png')
	width 5.4rem
	height 5.4rem
	background-size: 320%
	left 0.1rem
	top -1rem

	.wrapper__left &
		left 0.8rem
	
.education .block-title::before
	background-position: 11.6rem 5.5rem

.profile .block-title::before
	background-position: -6rem -0rem;

@import './blocks/profile/profile'
@import './blocks/contacts/contacts'
@import './blocks/header/header'
@import './blocks/software/software'
@import './blocks/skills/skills'
@import './blocks/education/education'
@import './blocks/experience/experience'
@import './fonts/fonts'
@import	'./blocks/block-header/block-header'
@import './blocks/paragraph/paragraph'