.header
	width 100%
	text-transform uppercase
	text-align center
	margin-top 5.16rem
	padding-bottom 5.9rem
	padding-left 0.67rem
	

	&__circle
		width 100%
		min-height 280px
		margin-bottom 1rem
		@media screen and (max-width: 1076px)
			min-height 600px
		@media screen and (max-width: 500px)
			width 80%
			height 80%
			min-height 400px
		@media screen and (max-width: 330px)
			min-height 300px

	&__name
		margin 0
		font-size 3.65rem
		line-height 3.5rem
		font-family MyriadProLightSemiExt, Verdana, sans-serif
	
	&__surname
		margin 0
		font-size 4.25rem
		font-family MyriadProBold, Verdana, sans-serif
		line-height 3.9rem
		margin-bottom 0.8rem

	&__position
		margin 0
		font-size 1.72rem
		font-family MyriadProBold, Verdana, sans-serif
		letter-spacing -0.03rem