.header
	width 100%
	text-transform uppercase
	text-align center

	&__circle
		width 100%
		min-height 250px

	&__name
		margin 0
		font-size 3.4rem
	
	&__surname
		margin 0
		font-size 3.6rem
		font-family MyriadProBold, Verdana, sans-serif

	&__position
		margin 0
		font-size 1.5rem
		font-family MyriadProBold, Verdana, sans-serif