include ../block-header/block-header
include ../paragraph/paragraph

mixin education()
	.education
		+block-header('education')
		.education__list
			+paragraph('master degree', 'Feb 2011 - Jun 2014', 'university name')
			+paragraph('master degree', 'Feb 2011 - Jun 2014', 'university name')
			+paragraph('master degree', 'Feb 2011 - Jun 2014', 'university name')
			+paragraph('master degree', 'Feb 2011 - Jun 2014', 'university name')